@use '../global/' as *;


.join-content {

  &__btc,   &__eth{
    animation: movecoin 2s infinite;

      @media (max-width: 900px) {
    display: none;
  }

  }
    span {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: $color-blue-purp;
    }


  a {
    background: $color-blue-purp;
  }
}

@keyframes movecoin {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
